* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    box-sizing: border-box;

    text-decoration: none;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
    border-collapse: separate;
    border-spacing: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "IBMPlexMono-Light";
    src: url("./IBMPlexMono-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LiberationMono-Regular";
    src: url("./LiberationMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "IBMPlexMono-Light", "Courier New", Arial;
    overflow-x: hidden;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px 90px;
}

/* -- header -- */

header h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: bolder;
}

/* -- main section -- */

main h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: bolder;
}

main a:hover {
    text-decoration: underline;
}

main p a {
    text-decoration: underline;
}

main section {
    display: grid;
    /* TODO(jt): A 60/40 or 65/35 layout is also intersting, but then we have to fix all the pictures  */
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    grid-column-gap: 50px;
}

main section img {
    max-width: 600px;
    max-height: 100%;
    object-fit: cover;
}

main section p {
    font-size: 18px;
    margin-bottom: 25px;
}

main > pre {
    width: 100%;

    font-size: 14px;
    font-family: "LiberationMono-Regular";
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;

    overflow-x: scroll;
}

main section pre {
    font-size: 14px;
    font-family: "LiberationMono-Regular";
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;

    overflow-x: scroll;
}

main section li {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left:   20px;
    list-style: outside;
}

main section picture > p {
    font-size: 14px;
    text-align: center;
    margin-top: 25px;
}

main section picture > img {
    display: block;
    margin: auto;
}

main section video {
    display: block;
    margin: auto;
}

main section .videocontent > p {
    font-size: 14px;
    text-align: center;
    margin-top: 25px;
}

main section .sidenote > p {
    font-size: 14px;
    text-align: start;
}

main section h1 {
    font-size: 45px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
}

main section h2 {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 10px;
}

main section h3 {
    font-size: 20px;
    font-weight: bold;
}

main section h4 {
    font-size: 16px;
    font-style: italic;
}


/* -- footer -- */

footer {
    margin-top: 100px;
}

footer p {
    font-size: 18px;
}

/* -- reusable things -- */

.nonbreaking {
  white-space: nowrap;
}

.maxwidth300 {
    max-width: 300px;
}

.postlink {
    font-size: 30px;
}

.mt25 {
    margin-top: 25px;
}

.mt50 {
    margin-top: 50px;
}

.mt200 {
    margin-top: 200px;
}

.mt400 {
    margin-top: 400px;
}

.filter-invert-100 {
    filter: invert(100%);
}

.filter-invert-75 {
    filter: invert(75%);
}

.light {
    color: black;
    background: white;
}

.dark {
    color: #9392b8;
    background: black;
}

/* -- breakpoints -- */
@media print {
    div {
        break-inside: avoid;
    }

    .pagebreak {
        break-before: page;
    }

    .noprint {
        display: none;
    }
}

@media (max-width: 1200px) {
    body {
        padding: 20px;
    }

    main section {
        grid-template-columns: 100%;
        grid-column-gap: 0px;
    }

    main section h1 {
        font-size: 30px;
    }

    main section h2 {
        font-size: 25px;
    }

    main section p {
        font-size: 15px;
    }

    main section li {
        font-size: 15px;
    }

    footer {
        margin-top: 50px;
    }

    footer p {
        font-size: 15px;
    }
}
